name: Deploy to ECS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm install
      - run: docker build -t ${{ secrets.Myapp }}.dkr.ecr.ap-south-1.amazonaws.com/${{ secrets.Appname }}.dkr.ecr.ap-south-1.amazonaws.com/hello-world-nodejs:latest:$GITHUB_SHA .
      - id: ecr-login
        uses: aws-actions/amazon-ecr-login@v1
      - run: |
          docker tag ${{ secrets.Myapp }}.dkr.ecr.ap-south-1.amazonaws.com/${{ secrets.Appname }}.dkr.ecr.ap-south-1.amazonaws.com/hello-world-nodejs:latest:$GITHUB_SHA
          docker push ${{ secrets.Myapp }}.dkr.ecr.ap-south-1.amazonaws.com/${{ secrets.Appname }}.dkr.ecr.ap-south-1.amazonaws.com/hello-world-nodejs:latest:$GITHUB_SHA
      - env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AKIAZI2LGJTPTW73QE53 }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.6X85RtbFS37lZTWD+1bJbvl2GoWb2VCEK3qS2++A }}
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve -var "docker_image=${{ secrets.Myapp }}.dkr.ecr.ap-south-1.amazonaws.com/${{ secrets.Appname }}.dkr.ecr.ap-south-1.amazonaws.com/hello-world-nodejs:latest:$GITHUB_SHA"
