name: Build and Deploy to ECS

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          region: ap-south-1 
          access-key-id: AKIAZI2LGJTPTW73QE53
          secret-access-key: 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
      - name: Build and Push Docker Image
        id: build-image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: /Dockerfile 
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/hello-world-nodejs:latest

      - name: Deploy to ECS
        id: deploy-ecs
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ecs-task-definition.json
          service: hello-world-app
          cluster: hello-world-cluster
          region: ap-south-1
          wait-for-service-stability: true
