name: Deploy EC2 Instances

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: '1.0.0'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}

      - name: Change to Terraform directory
        run: cd /home/ec2-user/hello-world-nodejs/terraform

      - name: Verify directory structure
        run: |
          ls -la /home/ec2-user/hello-world-nodejs/terraform/main.tf

      - name: Deploy EC2 Instances with Terraform
        run: |
          cd /home/ec2-user/hello-world-nodejs/terraform
          terraform init
          terraform apply -auto-approve
