name: Deploy to ECS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials (securely store secrets)
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          aws-region: ap-south-1
          registry: 637423471839.dkr.ecr.ap-south-1.amazonaws.com  # Assuming this is your ECR registry

     # Update ECS service with new image (replace placeholders)
      - name: Update ECS Service
        run: |
          aws ecs update-service \
            --cluster hello-world-cluster \
            --service hello-world-app \
            --desired-count 1 \
            --task-definition arn:aws:ecs:ap-south-1:637423471839:task-definition/hello-world-app:3 \
            --force-new-deployment

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

